.task-card{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.task-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra suave
  border-radius: 8px; // Bordes redondeados
  transition: transform 0.2s, box-shadow 0.2s; // Transición suave

  &:hover {
    transform: translateY(-4px); // Efecto de elevación al pasar el mouse
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Sombra más pronunciada
  }
}

.task-card-content {
  .task-description {
      display: -webkit-box;
      -webkit-line-clamp: 4; /* Limita a 4 líneas */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; /* Agrega el "..." al final */
      line-height: 1.5; /* Ajusta la altura de las líneas */
  }
}


@media screen and (max-width: 480px) {
  #task-card-last-update{
    display: none;
  }

  
}