#login-container{
    width: 96% !important;
    height: 100vh;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

#login-box{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
}