@use '../../../assets/Colors/colors.scss' as *;

#header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: 10%;
    background-color: $primary;
}